.admin-home-container {
    background-color: #efd6aa;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Тень для добавления глубины */
    text-align: center;
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3c375; /* Легкий фон для контраста */
    color: #333;
    font-family: Arial, sans-serif;
}
