body {
    background-color: #f3c375;
}

.info-container {
    width: 80%;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background-color: #efd6aa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
}

.info-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.info-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ffcc00; /* Ярко-жёлтая кнопка в стиле такси */
    color: black;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e6b800; /* При наведении кнопка становится темнее */
}
