body {
    background-color: #f3c375;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #efd6aa;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#department {
    width: 100%;
}

.request-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

input[type='text'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #ffcc00; /* Ярко-жёлтая кнопка в стиле такси */
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e6b800;
}
